body {
  font-family: Arial;
  padding: 20px;
}
#grad {
  background-image: linear-gradient(to bottom right, #A8FF33, #33FFA8);
}
/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: #33FFFF;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: center;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: center;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
  align-items: center;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  align-items: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #000000;
  margin-top: 20px;
}

.blink{
	animation:blinkingText 0.8s infinite;
}
@keyframes blinkingText{
	0%{		color: #FFFC33;	}
	49%{	color: transparent;	}
	50%{	color: transparent;	}
	99%{	color:transparent;	}
	100%{	color: #FFFC33;	}
}

/* Responsive layout - when the screen is less than 800px wide,
 make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
